<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/font.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>Tạo thông tin cá nhân - Mùa hè xanh</title>
  </head>

  <body>
    <div id="app">
      <div id="form-card">
        <div>
          <h5>1. Chọn hình đại diện</h5>
          <div>
            <input type="file" @change="changeLogo" accept="image/*" />
          </div>
        </div>
        <div class="infomationInput">
          <h5>4. Thông tin</h5>
          <input v-model="name" placeholder="Họ và tên" id="txt-name" />
          <input v-model="workUnit" placeholder="Đơn vị" id="txt-workUnit" />
          <input
            v-model="formation"
            placeholder="Đội hình"
            id="txt-formation"
          />
          <input v-model="position" placeholder="Mặt trận" id="txt-position" />
        </div>

        <div class="qrcode">
          <h5>2. QR Code</h5>
          <input v-model="url" placeholder="Nhập đường dẫn url" id="url" />
        </div>

        <div>
          <h5>3. Ảnh nền (900 x 636px)</h5>
          <div id="background-select">
            <img
              v-bind:src="bg"
              v-for="bg in backgrounds"
              v-on:click="setBackground(bg)"
            />
          </div>
          <input type="file" @change="changeCustomBg" accept="image/*" />
        </div>

        <div class="exportBtn">
          <button v-on:click="exportCard">Lưu file ảnh</button>
          <button v-on:click="exportPDF">Lưu file pdf</button>
        </div>
      </div>
      <div
        id="card"
        v-bind:style="{ 'background-image': 'url(' + background + ')' }"
      >
        <div id="overlay"></div>
        <img v-if="showLogo" v-bind:src="logo" id="logo" />

        <div id="qr-code"></div>

        <div class="infomation">
          <div class="infomation__name">
            <p id="name">
              <span>Họ và tên:</span>
              <span
                v-bind:style="{ 'font-size': fontSize + 'px', 'font-family': font }"
                id="name-content"
                >{{name}}</span
              >
              <!-- <span class="hack">_</span> -->
            </p>
          </div>
          <div class="infomation__workUnit">
            <p id="workUnit">
              <span>Đơn vị:</span>
              <span
                v-bind:style="{ 'font-size': fontSize + 'px', 'font-family': font }"
                id="workUnit-content"
                >{{workUnit}}</span
              >
            </p>
          </div>
          <div class="infomation__formation">
            <p id="formation">
              <span>Đội hình:</span>
              <span
                v-bind:style="{ 'font-size': fontSize + 'px', 'font-family': font }"
                id="formation-content"
                >{{formation}}</span
              >
            </p>
          </div>
          <div class="infomation__position">
            <p id="position">
              <span>Mặt trận:</span>
              <span
                v-bind:style="{ 'font-size': fontSize + 'px', 'font-family': font }"
                id="position-content"
                >{{position}}</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"
      integrity="sha512-VKjwFVu/mmKGk0Z0BxgDzmn10e590qk3ou/jkmRugAkSTMSIRkd4nEnk+n7r5WBbJquusQEQjBidrBD3IQQISQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.js"
      integrity="sha512-is1ls2rgwpFZyixqKFEExPHVUUL+pPkBEPw47s/6NDQ4n1m6T/ySeDW3p54jp45z2EJ0RSOgilqee1WhtelXfA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
      integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/script.js" defer></script>
  </body>
</html>
